.settings-header {
  vertical-align: middle;
}
.settings-title {
  width: 745px;
}

.settings-text {
  margin-top: 22px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  font-weight: bold;
}
.weekdays-menu {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-top: 34px;
}
.weekdays-menu_item-1 {
  border-radius: 10px;
  padding: 14px 33px;
  background: rgb(176, 204, 13);
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
}
.weekdays-menu_item-2 {
  color: rgb(255, 168, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
.weekdays-menu_item {
  color: rgb(48, 41, 41);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
}
.weekdays-menu_item-4 hr {
  height: 3px;
  padding: 1.5px;
  width: 33px !important;
  background: rgb(255, 168, 0);
  margin-left: 20px;
}
.menu_and_order {
  display: flex;
  gap: 38px;
}
.dash_menu-cards {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 23px;
  row-gap: 31px;
}
.dash_menucard-1,
.dash_menucard-2 {
  width: 180px;
}
.dash-menu_img-4 {
  height: 161px;
  text-align: center;
}
.dash-menu_breakfastName2 {
  padding: 65px 7px;
  text-align: center;
}
.dash-menu_img-4 img {
  width: 46px;
}
.green {
  background: rgb(142, 192, 56) !important;
}
.dash-menu_titles {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 12px;
}
.dash-menu_breakfast {
  color: rgb(176, 204, 13);
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.dash-menu_breakfastName {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 9px;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0%;
  border-radius: 4px;
  padding: 2px 10px;
  background: rgb(142, 192, 56);
  width: 67px;
}
.dash-menu_text {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  margin-top: 10px;
}
.dash-menu_call {
  color: rgb(10, 9, 9);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 180%;
  letter-spacing: 0%;
  margin-top: 6px;
}
.dash_menucard-2 {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dash_menucard-2 img {
  background: rgb(255, 168, 0);
  padding: 9px;
  border-radius: 50%;
}
.total-card {
  width: 180px;
  padding: 12px 17px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 10px;
  background: rgb(255, 255, 255);
}
.total-card-title {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  font-weight: bold;
}
.total-card-call {
  color: rgb(255, 168, 0);
}
.total-card-sum-food {
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
}
.calls {
  margin-top: 20px;
}
.callories-item {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}
.call-item {
}
.order {
  height: 100%;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 10px;
  padding: 23px 20px 43px 20px;
  background: rgb(255, 255, 255);
}
.order-title {
}
.order-box form {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(124, 124, 124);
  border-radius: 13px;
  padding: 10px 16px;
  margin-top: 15px;
}
.order-box input {
  border: none;
  outline: none;
}
.order-info {
}
.order-bill {
  display: flex;
  margin-top: 27.5px;
  align-items: center;
}
.order-cost {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
}
.order-money {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  font-weight: bold;
}
.order-delivery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}
.order-del_icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  background: rgb(176, 204, 13);
}
.order-del_text {
  flex: 1 0 45%;
  margin-left: 9px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
}
.order-btn {
  flex: 1 0 100%;
}
.p {
  margin: 20px 0;
}
.order-box hr {
  margin: 25px 0;
}
.order-button {
  display: inline;
  border-radius: 4px;
  padding: 14px 92px;
  margin-top: 10px;
  color: #fff;
  background: rgb(255, 168, 0);
}
.bottom-text {
  width: 583px;
  margin: 41px 0 79px 0;
  color: rgb(99, 115, 129);
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0px;
}
.modal-2 .modal-btn {
  margin: 31px auto 59px auto;
  text-align: center;
  border-radius: 4px;
  width: 243px;
  background: rgb(255, 168, 0);
}
.modal-menu {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-top: 32px;
}
.modal-menu_item-1 {
  padding: 14px 33px;
  border-radius: 10px;
  color: #fff;
  background: rgb(176, 204, 13);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
}
.modal-menu_item {
  color: rgb(48, 41, 41);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  border-radius: 10px;
}
.modal-cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 12px;
}
.modal-cards .dash_menucard-1 {
  padding: 10px 22px;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
}
.modal {
  width: 938px;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* left: 840px; */
  top: 130px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .menu_and_order {
    flex-direction: column;
  }
  .dash_menu-cards {
    display: flex;
    gap: 23px;
    row-gap: 31px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .dash_menucard-2 img {
    margin: 0 85px;
  }

  .settings-title span {
    display: none;
  }
  .settings-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .modal-cards .dash_menucard-1 {
    padding: 0;
  }

  .settings-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0px;
  }
  .weekdays-menu {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .order-bill {
    gap: 55px;
  }
  .order-btn2 {
    width: 100%;
    text-align: center;
  }
  .order-button {
    display: block;
    width: 100%;
  }
  .bottom-text {
    width: 100%;
    margin: 21px 0 49px 0;
    padding: 0 20px;
    font-size: 14px;
  }
  .modal-cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 12px;
  }
  .modal-cards .dash_menucard-1 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin: 0 auto; */
  }
  .modal-img {
    width: 77px;
  }
  .modal-menu {
    padding: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .modal-text,
  .modal-header {
    padding: 20px 0;
  }
  .logo-2 {
    padding-left: 40px;
    margin-left: 0;
  }
  .dash-menu_titles {
    flex-direction: column;
  }
  .dash-menu_text {
    font-size: 10px;
    width: 150px;
    margin-left: 0px;
  }
  .dash-menu_call {
    margin-left: 0px;
    flex: 1 0 100%;
    text-align: center;
  }
  .dash_menu_wrapper .nav {
    justify-content: space-between;
    padding: 0 20px;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 938px; /* Fixed width */
    max-height: 70%; /* Limit the height to 70% of the viewport */
    background-color: #fff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Hide overflowing content */
  }
  .modal-content {
    width: 300px;
    padding: 0 20px;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 400px; /* Fixed height to show 3 items, adjust as necessary */
  }
}
