@import "../style/main.css";
@import "../style/menu.css";
@import "../style/delivery.css";
@import "../style/advantages.css";
@import "../style/recommend.css";
@import "../style/faq.css";
@import "../style/get-in_touch.css";
@import "../style/footer.css";
@import "../style/dashboard.css";
@import "../style/dostavki.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn {
  cursor: pointer;
  display: inline;
  border-radius: 32px;
  padding: 8px 27px;
  background: rgb(255, 168, 0);
  color: #fff;
}
.bg-primary {
  border-radius: 55px;
  background: rgb(176, 204, 13);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav {
  padding-top: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.logo-img {
  width: 182px;
}
.nav-items {
  display: flex;
  align-items: center;
  margin-left: 57px;
}
.nav-item {
  margin: 0 40px;
}
.nav-link {
  color: rgb(48, 41, 41);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.nav-link.active {
  color: rgb(176, 204, 13);
}
.profile {
  display: flex;
  align-items: center;
  margin-left: 80px;
  gap: 40px;
  color: rgb(48, 41, 41);
}
.phone {
  color: rgb(48, 41, 41);
}
@media screen and (max-width: 768px) {
  .phone {
    display: none;
  }
}
.lang {
  display: flex;
  color: rgb(48, 41, 41);
}
.sign-in_btn {
  gap: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 32px;
  color: #fff;
  background: rgb(255, 168, 0);
}
.sign-in_btn img {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    justify-content: space-between;
    padding: 0 10px;
  }
  .sign-in_btn {
    padding: 0;
  }
  .sign-in_btn span {
    display: none;
  }
  .logo-img {
    width: 103px;
    object-fit: cover;
    margin-left: -50px;
  }
  .profile {
    gap: 10px;
  }
  .nav-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 10px;
    margin-left: 0;
    /* right: 10px; */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 5px;
    z-index: 1;
  }
  .nav-items.active {
    display: flex;
  }

  .nav-item {
    margin: 0.5rem 0;
  }
}
